### Operadores Logicos

In [ ]:
print (True and False) # and es un operador logico que devuelve True si ambos valores son True
print (True or False) # or es un operador logico que devuelve True si alguno de los valores es True
print (not False) # not es un operador logico que niega el valor de la variable

False
True
True

In [ ]:
nombre: str = "hugo" # Todas son tipo objeto (todas las clases y objetos tienen propiedades y metodos) # str es un tipo de dato string.
print (nombre) 
print (type(nombre))
nombre.capitalize() # .capitalize() es un metodo de la clase str que convierte el primer caracter en mayuscula.
nombre.upper() # .upper() es un metodo de la clase str que convierte el string en mayusculas.

hugo
<class 'str'>

'HUGO'

### Cadena: Srting

In [ ]:
num: int = 10 # int es un tipo de dato entero. num es una variable que hace referencia a un int.

pi:float = 3.14  # float es un tipo de dato flotante. pi es una variable que hace referencia a un float.

es_alumno: bool = True # es_alumno es una variable que hace referencia a un booleano.

name: str = 'Hugo' # name es una variable que hace referencia a un string.

print(f'{num}--{pi}--{es_alumno}--{name}')  # f'' es un string formateado, es decir, se puede poner variables dentro de un string.  # {} es un placeholder, es decir, un espacio reservado para una variable.

10--3.14--True--Hugo

#### Conceptos de Python para la aplicación del paradigma funcional

In [ ]:
type (5)

int

In [ ]:
type ("hola")

str

In [ ]:
type (3.1416)

float

In [ ]:
complejo = 5 + 5j # j es un número imaginario es cunado el tipo de dato es complejo.
type(complejo)

complex

In [ ]:
type(3.14e-10)

float

In [ ]:
# hints o pistas
numero: int = 10
numero = "dos"
# analisis estatico de codigo (clase-2)

In [ ]:
n = 0
num = int (input("dame un numero entero positivo")) # 
if n%2 == 0:
    num = "par"
else: 
    num = "impar"

num

'par'

In [ ]:
n = int(input("dame un numero entero positivo"))
(num:= "par" if n%2 == 0 else "impar") # operador ternario, operador morsa. todo la expresion tiene que estar conenida entre parentesis
num

'par'

In [ ]:
(num:= "par" if int(input("dame un numero entero positivo"))%2 == 0 else "impar" )
num

'impar'

In [ ]:
# casting
# conversion de tipos 
num_str = "3"
num_int = int(num_str)
print(f"num_int: {num_int}") #(fstrings) permite poder insertar variables a nuestro string

num_float = 3.14
num_int = int(num_float)
print(f"num_int: {num_int}")

num_str = str(num_float)
print(f"num_str: {num_str}")
num_str

num_int: 3
num_int: 3
num_str: 3.14

'3.14'

### Condicionales

In [ ]:
n1 = 10
n2 = 20
if n1 > n2: # if es un condicional, es decir, si se cumple la condicion se ejecuta el codigo.
    print (f"{n1}>{n2}")
else: # else es un condicional, es decir, si no se cumple la condicion se ejecuta el codigo.
    print(f"{n1}<{n2}")

10<20

In [ ]:
edad: int = 18

if edad > 18:
    print("mayor de edad")
elif edad == 18: 
    print("acabas de llegar a la mayoria de edad")
else:
    print("eres menor de edad")

acabas de llegar a la mayoria de edad

In [ ]:
edad = 18  
match edad: # match es un switch case
    case 18: # si edad es igual a 18 entonces:
        print("Acabas de llegar a la mayoría de edad")
    case _ if edad > 18: # _ es un comodin, es decir, cualquier valor que no este especificado en los casos anteriores. if edad > 18 es una condicion que se tiene que cumplir para que se ejecute el codigo.
        print("Ya eres mayor de edad")
    case _: # 
        print("Eres menor de edad")

Acabas de llegar a la mayoría de edad

### Tuplas

In [ ]:
tuplas_funciones = (suma, resta, multiplicacion, division) # tupla de funciones.
print(tuplas_funciones[1](5,4))  # imprime la funcion en la posicion 1 de la tupla y le pasa los parametros 5 y 4.

tupla = (1,2,3,4,5, True, 4.5, "Hola", [1,2,3]) # tupla de datos.
tupla.__add__((1,2,3)) # agrega una tupla a otra tupla. __add__ es un metodo de la clase tuple.

1

(1, 2, 3, 4, 5, True, 4.5, 'Hola', [1, 2, 3], 1, 2, 3)

### Range

In [ ]:
# range permite crear desde el 0 hasta 1 menos

numeros=range(10) # crea una lista de numeros del 0 al 9.

for i in numeros: # imprime los numeros del 0 al 9. 
    print(i,end="") # esto es para uqe salga todo en un solo renglor.

0123456789

In [ ]:
numeros = range(5,10) # crea una lista de numeros del 5 al 9.
numeros

range(5, 10)

In [ ]:
for i in numeros: # imprime los numeros del 5 al 9.
    print(i,end=" ") # esto es para que salga todo en un solo renglor y con un espacio entre cada numero.

5 6 7 8 9

In [ ]:
numeros_pares = range (2,11,2) # crea una lista de numeros pares del 2 al 10.
for par in numeros_pares: # imprime los numeros pares del 2 al 10.
    print(par,end=" ")

2 4 6 8 10

In [ ]:
lista = [3,6,7,40,34,67,89] # lista de numeros.
max(lista) # max es un metodo de la clase list que regresa el numero mas grande de la lista.

89

In [ ]:
min(lista) # min es un metodo de la clase list que regresa el numero mas pequeño de la lista.

3

In [ ]:
sum(lista) # sum es un metodo de la clase list que regresa la suma de todos los numeros de la lista.

246

In [ ]:
sorted(lista) # sorted es un metodo de la clase list que regresa una lista ordenada de menor a mayor.

[3, 6, 7, 34, 40, 67, 89]

In [ ]:
lista.sort() # sort es un metodo de la clase list que ordena la lista de menor a mayor.

In [ ]:
print (lista.sort()) # imprime none porque sort no regresa nada.

None

In [ ]:
lista.sort(reverse=True) # operadores no estan definida 
lista

[89, 67, 40, 34, 7, 6, 3]

### Set conjuntos

In [ ]:
mi_set = {1,2,3,4,4,4,4} # set es un tipo de dato que no permite valores repetidos. mi_set es una variable que hace referencia a un set.
mi_set  # imprime el set sin valores repetidos.

{1, 2, 3, 4}

In [ ]:
data = [3,2,1,2,3,4,2,1,2,3,4,5,6,4,3,2]
list (set(data)) # set elimina los repetidos y list los convierte en una lista.

[1, 2, 3, 4, 5, 6]

In [ ]:
data2 = {1,56,57,3,58} 

mi_set.union(data2) # une dos sets y elimina los repetidos. .union es un metodo de la clase set.

{1, 2, 3, 4, 56, 57, 58}

### Diccionario

In [ ]:
mi_dict = {"llave": "valor"} # dict es un tipo de dato que tiene una llave y un valor. mi_dict es una variable que hace referencia a un dict.
mi_dict ["llave"] # imprime el valor de la llave.

'valor'

In [ ]:
mi_dict.keys() # keys es un metodo de la clase dict que regresa todas las llaves del dict.

dict_keys(['llave'])

In [ ]:
mi_dict.values() # values es un metodo de la clase dict que regresa todos los valores del dict.

dict_values(['valor'])

In [ ]:
days_of_week = {
    "Monday": 1,
    "Tuersday": 2,
    "Wendnesday": 3,
    "Thursday": 4,
    "Saturday": 5,
    "Sunday": 6
}

for e in mi_set:
    print(e)

for key in days_of_week.keys():
    print(key)

for value in days_of_week.values():
    print(value)

for key, value in days_of_week.items():
    print(key, value)

for key, value in days_of_week.items():
    print(f'{key} = {value}')

1
2
3
4
Monday
Tuersday
Wendnesday
Thursday
Saturday
Sundat
1
2
3
4
5
6
Monday 1
Tuersday 2
Wendnesday 3
Thursday 4
Saturday 5
Sundat 6
Monday = 1
Tuersday = 2
Wendnesday = 3
Thursday = 4
Saturday = 5
Sundat = 6

instalar 
streamlit
guizero